.small-btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    line-height: 1;
}

.small-btn img {
    width: 12px;
    height: 12px;
}

.radio-player-container {
    text-align: center;
    margin: 20px 0;
}

.header {
    position: sticky;
    top: 0;
}

.center-text {
    text-align: center;
    margin-top: 20px;
}

.hilos-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
}

.hilo,
.container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    backdrop-filter: blur(10px);
    margin-top: 0px;
    margin-bottom: 0px;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.hilo-info {
    margin-bottom: 0.5rem;
}

.hilo-titulo {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.hilo-titulo:hover {
    color: #007bff;
}

.hilo-fecha {
    color: #888;
}

.hilo-contenido {
    color: #555;
    line-height: 1.5;
}

.comentarios {
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.comentario {
    padding: 0.5rem 0;
}

.comentario strong {
    color: #333;
}

.comentario p {
    color: #555;
    margin: 0.2rem 0;
}

.comments-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.comment-header {
    border-bottom: 1px solid var(--color-lightGrey);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.comment-user,
.comment-date {
    margin: 0;
    font-size: 0.9em;
    color: var(--color-grey);
}

.comment-content {
    font-size: 1em;
    color: var(--font-color);
}

.comment-form {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
    backdrop-filter: blur(10px);
}

.comment-form textarea {
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

.comment-form button {
    background-color: var(--color-primary);
    color: var(--bg-color);
    border: 1px solid var(--color-primary);
}

.button.primary {
    background-color: var(--color-primary);
    color: var(--bg-color);
}

.button.secondary {
    background-color: var(--color-lightGrey);
    color: var(--color-darkGrey);
}

.comentarios {
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.comentario {
    padding: 0.5rem 0;
}

.comentario p {
    color: #555;
    margin: 0.2rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-cat {
    display: flex;
    margin: 20px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.comment-form textarea {
    margin-bottom: 1rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: rgb(92, 92, 92);
    border: 1px solid #222;
    border-radius: 4px;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1em;
}

.hilo-adicional-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
}

@media (min-width: 800px) {
    .hilos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

#categoria {
    position: relative;
    z-index: 1;
}

.emojionearea {
    position: relative;
    z-index: 10;
}